:root {
  --green:green;
}

.container{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
}

body{
  background-color: black;
}

form > div {
  margin: 10px 0px;
}

input{
  border: 1px solid skyblue;
}

.error{
  color: red;
}

.Num{
  display: flex;
}

.sign-up {
  float: right;
  background-color: var(--green); 
  border-color: var(--green);
}

.sign-up:hover {
  background-color: var(--green);
  border-color: var(--green);
  filter: brightness(1.2);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: white;
}

form {
  width: 500px;
}

.title {
  color:skyblue;
}